<% @secrets.each do |secret|%> 
	<div class="secrets_content form-group">
		<img src="<%= asset_path('anonymous.png') %>" alt="anonymous" id="profile_icon" class="img-thumbnail"><strong class="my-color" style="margin-left: 0.50rem;" "><%= secret.user.username %></strong>
		<p class="secrets_content_p"><%= secret.content %>
			<% if secret.user_id == current_user.id %>
				<%= link_to "edit", edit_secret_path(secret), remote: true, class: "my_links" %>
			<% end %>
		</p>
		<%if secret.users_liked.include? current_user%>
			<div class="secrets_content_in">
				<ul class="like_comment">
					<li><span class=""><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
					<%= link_to "unlike", like_path(secret.id), class: "my_links black", method: 'delete', remote: true %>
					<!-- <span class=""><i class="fa fa-comment" aria-hidden="true"></i></span> -->
					<!-- <li class="my_links user_comment"><a href="#">comment</a></li> -->
				</ul>
			</div>
		<% else %>
			<div class="secrets_content_in">
				<ul class="like_comment">
					<li><span class=""><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
					<%= link_to "like", like_path(secret.id), class: "my_links black", method: 'post', remote: true %>
					<!-- <span class=""><i class="fa fa-comment" aria-hidden="true"></i></span> -->
					<!-- <li class="my_links user_comment"><a href="#">comment</a></li> -->
				</ul>
			</div>
		<%end%> 

		

		<p class="my_links secrets_content_p"><%= Secret.find(secret.id).likes.count %> likes</p>

		<hr class="the_line">
		<div class="secrets_comments form-group">
			<% secret.comments.each do |s| %>
				<p class="my_links my_italics"><strong class="my-color" "><%= s.user.username %>:</strong> <%= s.content %></p>
			<% end %>
		</div>	


		<p class="success_p"><%= flash[:secret_comment_success] %><p>

		<% if flash[:secret_comment_error] %>
			<% flash[:secret_comment_error].each do |error| %>
				<p class="error_p"><%=error %></p>
			<% end %>
		<% end %>

		<%= form_for Comment.new, remote: true do |f| %>
			<%= f.hidden_field :id, value: secret.id %>
			<div class="form-group input-group">
				<%= f.text_area :content, class: "form-control", rows: "1", placeholder: "Add a comment" %>
				<button type="submit" class="btn btn-info btn-sm"><span class=""><i class="fa fa-paper-plane" aria-hidden="true"></i></span></button>
			</div>
		<% end %>
	</div>
<% end %>
				
				
			
